
.vs/SolarSystem/v14/.suo
.vs/SolarSystem/v15/.suo
*.db
*.ipch
.vs/SolarSystem/v16/.suo
*.dat
*.aps
SolarSystem/Textures/back.png
SolarSystem/Textures/bkg/blue/bkg1_back.png
SolarSystem/Textures/bkg/blue/bkg1_bot.png
SolarSystem/Textures/bkg/blue/bkg1_front.png
SolarSystem/Textures/bkg/blue/bkg1_left.png
SolarSystem/Textures/bkg/blue/bkg1_right.png
SolarSystem/Textures/bkg/blue/bkg1_top.png
SolarSystem/Textures/bkg/lightblue/back.png
SolarSystem/Textures/bkg/lightblue/bot.png
SolarSystem/Textures/bkg/lightblue/front.png
SolarSystem/Textures/bkg/lightblue/left.png
SolarSystem/Textures/bkg/lightblue/right.png
SolarSystem/Textures/bkg/lightblue/top.png
SolarSystem/Textures/bkg/red/bkg1_back6.png
SolarSystem/Textures/bkg/red/bkg1_bottom4.png
SolarSystem/Textures/bkg/red/bkg1_front5.png
SolarSystem/Textures/bkg/red/bkg1_left2.png
SolarSystem/Textures/bkg/red/bkg1_right1.png
SolarSystem/Textures/bkg/red/bkg1_top3.png
SolarSystem/Textures/bkg/red/bkg2_back6.png
SolarSystem/Textures/bkg/red/bkg2_bottom4.png
SolarSystem/Textures/bkg/red/bkg2_front5.png
SolarSystem/Textures/bkg/red/bkg2_left2.png
SolarSystem/Textures/bkg/red/bkg2_right1.png
SolarSystem/Textures/bkg/red/bkg2_top3.png
SolarSystem/Textures/bkg/red/bkg3_back6.png
SolarSystem/Textures/bkg/red/bkg3_bottom4.png
SolarSystem/Textures/bkg/red/bkg3_front5.png
SolarSystem/Textures/bkg/red/bkg3_left2.png
SolarSystem/Textures/bkg/red/bkg3_right1.png
SolarSystem/Textures/bkg/red/bkg3_top3.png
SolarSystem/Textures/bkg/skybox.zip
SolarSystem/Textures/bkg/skybox1.zip
SolarSystem/Textures/bottom.png
SolarSystem/Textures/cloud.E.2001210.21600x21600.png
SolarSystem/Textures/cloud_combined_2048.jpg
SolarSystem/Textures/cloud_combined_2048.png
SolarSystem/Textures/cloud_combined_2048.tif
SolarSystem/Textures/cloud_combined_8192.png
SolarSystem/Textures/cloud_combined_8192.tif
SolarSystem/Textures/deimosbump.jpg
SolarSystem/Textures/earth_lights_lrg.jpg
SolarSystem/Textures/earthbump1k.jpg
SolarSystem/Textures/earthcloudmap.jpg
SolarSystem/Textures/earthcloudmaptrans.jpg
SolarSystem/Textures/earthlights1k.jpg
SolarSystem/Textures/earthmap1k.jpg
SolarSystem/Textures/earthspec1k.jpg
SolarSystem/Textures/earthspec1kbw.jpg
SolarSystem/Textures/ESO_-_Milky_Way.jpg
SolarSystem/Textures/front.png
SolarSystem/Textures/gebco_08_rev_elev_21600x10800.jpg
SolarSystem/Textures/gebco_08_rev_elev_21600x10800.png
SolarSystem/Textures/jupiter2_4k.jpg
SolarSystem/Textures/jupitermap.jpg
SolarSystem/Textures/land_ocean_ice_2048.jpg
SolarSystem/Textures/land_ocean_ice_8192.jpg
SolarSystem/Textures/land_ocean_ice_8192.png
SolarSystem/Textures/left.png
SolarSystem/Textures/mars_1k_color.jpg
SolarSystem/Textures/mars_1k_normal.jpg
SolarSystem/Textures/marsbump1k.jpg
SolarSystem/Textures/marsmap1k.jpg
SolarSystem/Textures/mercurybump.jpg
SolarSystem/Textures/mercurymap.jpg
SolarSystem/Textures/moonbump1k.jpg
SolarSystem/Textures/moonbump4k.jpg
SolarSystem/Textures/moonmap4k.jpg
SolarSystem/Textures/neptunemap.jpg
SolarSystem/Textures/nightearth.gif
SolarSystem/Textures/nightearth.jpg
SolarSystem/Textures/oldsky/back.jpg
SolarSystem/Textures/oldsky/bottom.jpg
SolarSystem/Textures/oldsky/front.jpg
SolarSystem/Textures/oldsky/left.jpg
SolarSystem/Textures/oldsky/right.jpg
SolarSystem/Textures/oldsky/top.jpg
SolarSystem/Textures/phobosbump.jpg
SolarSystem/Textures/plutobump2k.jpg
SolarSystem/Textures/plutomap2k.jpg
SolarSystem/Textures/right.png
SolarSystem/Textures/saturnmap.jpg
SolarSystem/Textures/skysphere.png
SolarSystem/Textures/starmap_16k.tif
SolarSystem/Textures/sunmap.jpg
SolarSystem/Textures/top.png
SolarSystem/Textures/uranusmap.jpg
SolarSystem/Textures/venusbump.jpg
SolarSystem/Textures/venusmap.jpg
*.obj
*.res
*.log
*.tlh
*.tli
*.pch
*.tlog
*.txt
*.idb
*.pdb
*.recipe
*.exe
*.ilk
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
